.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-hover {
    width: 21px;
    height: 20px;
    background-position: -20px -20px;
}

.sprite-bssket-peace {
    width: 21px;
    height: 20px;
    background-position: -20px -80px;
}

.sprite-checkbox-check-hover {
    width: 20px;
    height: 20px;
    background-position: -20px -140px;
}

.sprite-checkbox-check-peace {
    width: 20px;
    height: 20px;
    background-position: -20px -200px;
}

.sprite-checkbox-hover {
    width: 20px;
    height: 20px;
    background-position: -20px -260px;
}

.sprite-checkbox-peace {
    width: 20px;
    height: 20px;
    background-position: -20px -320px;
}

.sprite-cow-logo {
    width: 48px;
    height: 49px;
    background-position: -20px -380px;
}

.sprite-facebook {
    width: 32px;
    height: 32px;
    background-position: -20px -469px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -20px -541px;
}

.sprite-icecream-logo {
    width: 49px;
    height: 49px;
    background-position: -20px -594px;
}

.sprite-instagramm {
    width: 32px;
    height: 32px;
    background-position: -20px -683px;
}

.sprite-login-hover {
    width: 21px;
    height: 19px;
    background-position: -20px -755px;
}

.sprite-login-peace {
    width: 21px;
    height: 19px;
    background-position: -20px -814px;
}

.sprite-plants-logo {
    width: 49px;
    height: 49px;
    background-position: -20px -873px;
}

.sprite-radio-check-hover {
    width: 21px;
    height: 22px;
    background-position: -20px -962px;
}

.sprite-radio-check-peace {
    width: 21px;
    height: 22px;
    background-position: -20px -1024px;
}

.sprite-ruble {
    width: 33px;
    height: 38px;
    background-position: -20px -1086px;
}

.sprite-search-hover {
    width: 17px;
    height: 17px;
    background-position: -20px -1164px;
}

.sprite-search-peace {
    width: 17px;
    height: 17px;
    background-position: -20px -1221px;
}

.sprite-temp-logo {
    width: 48px;
    height: 49px;
    background-position: -20px -1278px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -20px -1367px;
}

.sprite-vkontakte {
    width: 32px;
    height: 32px;
    background-position: -20px -1439px;
}



/* ////////////////////////////////////////////////////////////// */

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-hover {
    width: 21px;
    height: 20px;
    background-position: -20px -20px;
}

.sprite-bssket-peace {
    width: 21px;
    height: 20px;
    background-position: -20px -80px;
}

.sprite-checkbox-check-hover {
    width: 20px;
    height: 20px;
    background-position: -20px -140px;
}

.sprite-checkbox-check-peace {
    width: 20px;
    height: 20px;
    background-position: -20px -200px;
}

.sprite-checkbox-hover {
    width: 20px;
    height: 20px;
    background-position: -20px -260px;
}

.sprite-checkbox-peace {
    width: 20px;
    height: 20px;
    background-position: -20px -320px;
}

.sprite-cow-logo {
    width: 48px;
    height: 49px;
    background-position: -20px -380px;
}

.sprite-facebook {
    width: 32px;
    height: 32px;
    background-position: -20px -469px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -20px -541px;
}

.sprite-icecream-logo {
    width: 49px;
    height: 49px;
    background-position: -20px -594px;
}

.sprite-instagramm {
    width: 32px;
    height: 32px;
    background-position: -20px -683px;
}

.sprite-login-hover {
    width: 21px;
    height: 19px;
    background-position: -20px -755px;
}

.sprite-login-peace {
    width: 21px;
    height: 19px;
    background-position: -20px -814px;
}

.sprite-plants-logo {
    width: 49px;
    height: 49px;
    background-position: -20px -873px;
}

.sprite-radio-check-hover {
    width: 21px;
    height: 22px;
    background-position: -20px -962px;
}

.sprite-radio-check-peace {
    width: 21px;
    height: 22px;
    background-position: -20px -1024px;
}

.sprite-ruble {
    width: 33px;
    height: 38px;
    background-position: -20px -1086px;
}

.sprite-search-hover {
    width: 17px;
    height: 17px;
    background-position: -20px -1164px;
}

.sprite-search-peace {
    width: 17px;
    height: 17px;
    background-position: -20px -1221px;
}

.sprite-temp-logo {
    width: 48px;
    height: 49px;
    background-position: -20px -1278px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -20px -1367px;
}

.sprite-vkontakte {
    width: 32px;
    height: 32px;
    background-position: -20px -1439px;
}

.sprite-z-next-icon {
    width: 9px;
    height: 14px;
    background-position: -20px -1511px;
}

.sprite-z-prev-icon-0-2 {
    width: 9px;
    height: 14px;
    background-position: -20px -1565px;
}
